body{
    /* background-color:rgb(0, 1, 20); */
    /* color:white !important; */
    /* background-image: linear-gradient(rgb(93, 255, 255),rgb(255, 255, 255)); */
}
.bg-success {
	--bs-bg-opacity: 1;
	/* background-color:#4efcb6 !important; */
 
}
.nav-link{
    color:black !important;
}
footer{
    padding:50px;
    text-align: center;
    color: black;
   }

.landing{
    /* background-color:rgb(219, 219, 219); */
    height: 70vh;
    /* background-image: linear-gradient(rgb(255, 255, 255),rgb(75, 255, 195)); */
}
.card-body {
    /* background-image: linear-gradient(rgb(255, 233, 233),rgb(255, 255, 255)); */
}